:root {
    --lillac-y: #c99bcb;
    --light-blue-y: #87ceeb;
    --light-gray-y: #808080;
    --dark-gray-y: #0c0b0b;
    --white-y: white;
    --black-y: black;
    --teste: #d0c4d4;
    --lill-y: #5f3f61;

    /*
    56075a
        color: #5f3f61; great
*/
}
