@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
a{
    all: unset;
    cursor: pointer;
}
#first-section{
    background-image: url(images/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*background: linear-gradient(to bottom, #000, #0a0a0a);*/
    height: 100vh;
    /*background-position: center;
    background-size: cover;*/
    display: flex;
    flex-direction: column;
    align-content: center;
}
menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 0 0;
    color: #d9d9d9;
    font-family: 'Lato', sans-serif;
}
menu a{
    padding: 3px;
    transition: 0.3s;
}
menu a:hover{
    cursor: pointer;
    transition: 0.3s;
    color: #9d87a5;
}
body{
    background: #000;
    background-image: linear-gradient(default ,#0d0d0d, #000 );
}
#languages{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*
#languages:hover {
    color: #9d87a5;
    transition: 0.3s;
}
*/
#sections-link{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #000;
}

#sections-link span {
    border-radius: 15px;
    align-self: center;
    padding: 1px 40px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #5f3f61;
    color: #fff;
    opacity: 0.5;
    padding: 8px;
    font-weight: bolder;    ;
    font-size: 20px;
    border: 2px solid #5f3f61;
}

#sections-link span:hover {
    opacity: 0.8;
    background-color: #0d0d0d;
    color: #adabab;
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid #5f3f61;
}

#first-section h1{
    align-self: center;
    padding-top: 15vh;
    color: #7e4a81;
    font-size: 65px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}
#first-section h3{
    align-self: center;
    padding-top: 2vh;
    color: #bbbaba;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

#first-section h2{
    color: #bbbaba;
    font-size: 36px;
    align-self: center;
    font-weight: 200;
}

/* ------ work section ------------- */
#second-section{
    /*background: linear-gradient(to bottom, #0a0a0a, #000000);*/
    background-color: #000;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #d9d9d9;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
}
#mywork{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.work-cards{
    position: absolute;
    width: 15%;
    height: 60vh;
    background: #1b1b1b;
    -moz-box-shadow: 0 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px;
    border: #0d0d0d 5px solid;
}
.work-cards:hover{
    margin-top: 10px;
    margin-bottom: 40px;
    transition: 0.3s;
}
.card-img{
    height: 55%;
    /*max-width: 300px;
    max-height: 350px;*/
}
.bg-img{
    width: 100%;
    height: 100%;
}
.card-description{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: #d9d9d9;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.card-description h2{
    all: unset;
    font-size: 28px;
    color: #7e4a81;
    font-family: 'Dancing Script', cursive;
}
.card-description p{
    font-size: 16px;
}
.card-line{
    width: 29px;
}
#upper-ss{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* -------------- ABOUT ME SECTION ----------------- */
#third-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-color: #000;
    /* align-items: center; */
}
#ts-text{
    margin: 5rem 10rem;
    border: 2px solid #272323;
    padding: 2rem; 
    font-size: 18px;
    color: #d9d9d9;
    font-family: 'Lato', sans-serif;
    
}
#skills{
    display: flex;
    flex-direction: row;
    margin: 0 10rem;
    justify-content: space-between;
}
.skill-box{
    border: 2px solid #272323;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 13px;
    color: #0d0d0d;
    font-family: 'Lato', sans-serif;
    border: none;
}
.skill-box:hover{
    transition: 0.3s;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 13px;
    color: #d9d9d9;
}
.skill-box img{
    width: 60%;
}

#sk5 {
    max-width: 132px;;
}
#ts-title{
    align-self: center;
    padding-top: 15vh;
    color: #d9d9d9;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

/* ------------------- FOURTH SECTION ------------- */
#fourth-section{
    height: 90vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-image: url("images/bw.png");
}
#contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #d9d9d9;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#contact h1{
    font-weight: 400;
    margin-bottom: 50px;
}
#extras{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #d9d9d9;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
input, textarea, button{
    all: unset;
    height: 35px;
    padding: 5px;
}
input, textarea{
    border-bottom: 1px solid #d9d9d9;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
textarea{
    height: 70px;
    padding: 10px 0;
    white-space: pre-wrap;
}
button{
    align-self: center;
    border: 2px solid #5f3f61;
    color: #fff;
    padding: 1px 40px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #5f3f61;
    font-size: 20px;
    opacity: 0.5;
    font-weight: bolder;    ;
}
button:hover {
    border: 1px solid #5f3f61;
    opacity: 0.8;
    background-color: #0d0d0d;
    color: #5f3f61;
    transition: 0.3s;
}

#phrase{
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    width: 45%;
    padding: 20px 20px 0 0;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 50px;;
}
#social-media{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn-social-media{
    width: 60px;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    /* padding: 0 15px; */
}
#send-email{
    transition: 0.3s;
}
#send-email:hover{
    background-color: #5f3f61;
    color: #0d0d0d;
    transition: 0.3s;
}

a{
    all: unset;
}

/* ----------------- PROJECT SESSION ---------------- */

#project-info {
    height: 100vh;
    background: linear-gradient(to bottom, #110012, #000000);
    opacity: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 20px;
    padding: 20px;
}

#pi-title {
    font-size: 30px;
    padding: 0 20px;
    border-bottom: 3px solid #5f3f61;
    font-weight: 600;
}

line{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}
line img{
    width: 20px;
    vertical-align: middle;
    padding: 0 7px;
}
line span{
    display: flex;
    flex-direction: row;
}

#project-img{
    width: 60%;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid #0d0d0d;
}

more-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

description, purpose, languages{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 30%;
}

more-info h4{
    font-weight: 400;
}

more-info h3{
    border-bottom: 2px solid #5f3f61;
}

#back-button{
    background-color: #110012;
    color: #adabab;
    height: 23px;
    font-weight: 500;
    border: 2px solid #110012;
    padding: 5px 15px;
}

space{
    height: 5vh;
}

/* ----------------- LAST SECTION ------------------- */
#last-section{
    background-image: url("images/footerbwcpy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
    height: 759px;
}
/* ------------------ card movement ------------------ */
@keyframes come-one{
    0%{
        opacity: 0;
        margin-left: -1000px;
    }
    100%{
        opacity: 1;
        margin-left: -700px;
    }
}
@keyframes go-3{
    0%{
        opacity: 1;
        margin-right: -700px;
    }
    100%{
        opacity: 0;
        margin-right: -1000px;
    }
}

@keyframes come-3{
    100%{
        opacity: 1;
        margin-right: -700px;
    }
    0%{
        opacity: 0;
        margin-right: -1000px;
    }
}
@keyframes go-one{
    100%{
        opacity: 0;
        margin-left: -1000px;
    }
    0%{
        opacity: 1;
        margin-left: -700px;
    }
}
@keyframes two-one{
    0%{
        margin: 0;
    }
    100%{
        margin-left: -700px;
    }
}
@keyframes three-two{
    0%{
        margin-right: -700px;
    }
    100%{
        margin: 0;
    }
}

@keyframes one-two{
    0%{
        margin-left: -700px;
    }
    100%{
        margin: 0;
    }
    
}
@keyframes two-three{
    0%{
        margin: 0;
    }
    100%{
        margin-right: -700px;
    }
    
}
#leftArrow{
    z-index: 5;
    height: 50px;
    display: inline-block;
}
#rightArrow{
    z-index: 5;
    height: 50px;
    display: inline-block;
}

#leftArrow:hover, #rightArrow:hover{
    cursor: pointer;
}
#card-8{
    margin-left: -1000px;
    opacity: 0;
}
#card-9{
    margin-left: -1000px;
    opacity: 0;
}
#card-10{
    margin-left: -1000px;
    opacity: 0;
}
#aux{
    margin-left: -1000px;
    opacity: 0; 
}
#card-1{
    margin-left: -700px;
    display: block;
}
#card-2{
    margin-right: 0;
    margin-left: 0;
    display: block;
}
#card-3{
    margin-right: -700px;
    display: block;
}
#card-4{
    margin-right: -1000px;
    opacity: 0;
}
#card-5{
    margin-right: -1000px;
    opacity: 0;
}
#card-6{
    margin-right: -1000px;
    opacity: 0;
}
#card-7{
    margin-right: -1000px;
    opacity: 0;
}


/* customizable snowflake styling */
.snowflake img {/*
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;*/
    width: 15px;
}

@-webkit-keyframes snowflakes-fall{
    0%{
        top:-10%
    }
    100%{
        top:100%
    }
}
@-webkit-keyframes snowflakes-shake{
    0%{
        -webkit-transform:translateX(0px);transform:translateX(0px)
    }
    50% {
        -webkit-transform:translateX(80px);transform:translateX(80px)
    }
    100%{
        -webkit-transform:translateX(0px);transform:translateX(0px)
    }
}
@keyframes snowflakes-fall{
    0%{
        top:-10%
    }
    100%{
        top:100%
    }
}
@keyframes snowflakes-shake{
    0%{
        transform:translateX(0px)
    }
    50%{
        transform:translateX(80px)
    }
    100%{
        transform:translateX(0px)
    }
}
.snowflake{
    position:absolute;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
}
.snowflake:nth-of-type(0){
    left:1%;
    -webkit-animation-delay:0s,0s;
    animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
    left:10%;
    -webkit-animation-delay:1s,1s;
    animation-delay:1s,1s
}
.snowflake:nth-of-type(2){
    left:20%;-webkit-animation-delay:6s,.5s;
    animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
    left:30%;
    -webkit-animation-delay:4s,2s;
    animation-delay:4s,2s
}
.snowflake:nth-of-type(4){
    left:40%;
    -webkit-animation-delay:2s,2s;
    animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
    left:50%;
    -webkit-animation-delay:8s,3s;
    animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
    left:60%;
    -webkit-animation-delay:6s,2s;
    animation-delay:6s,2s
}
.snowflake:nth-of-type(7){
    left:70%;
    -webkit-animation-delay:2.5s,1s;
    animation-delay:2.5s,1s
}
.snowflake:nth-of-type(8){
    left:80%;
    -webkit-animation-delay:1s,0s;animation-delay:1s,0s
}
.snowflake:nth-of-type(9){
    left:90%;
    -webkit-animation-delay:3s,1.5s;
    animation-delay:3s,1.5s
}

/* Opnening style*/
.opni {
    background-image: url("images/coverbw.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.opni button, h1, h2{
    margin: 50px;
}

.opni h1 {
    color: #7e4a81;
    font-size: 65px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}

.opni h2 {
    color: #bbbaba;
}

/*details footer*/
#last-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#last-section h3 {
    align-self: center;
    padding-top: 2px;
    color: #bbbaba;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

#last-section h2 {
    color: #5f3f61;
    font-size: 36px;
    align-self: center;
}

footer {
    padding-top: 250px;
}

#ss-tile, #ts-title, .ct, #ts-tile {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    font-weight: 300;
    color: #5f3f61;
}